{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<h1>Mon panier</h1>

<div class= container "text-center">
  <ul class="list-group">
    {% for monpanier in panier %}
    <li class="list-group-item">
      <div class="row align-items-center">
        <div class="col-md-3">
          <img src="{{ asset('img/') ~ monpanier.Produits.imagename }}" class="img-thumbnail" alt="...">
        </div>
        <div class="col-md-6">
          <h5>{{ monpanier.Produits.titre }}</h5>
          <p>{{ monpanier.Produits.description }}</p>
          <p>Prix : {{ monpanier.Produits.prix }}€</p>
        </div>
        <div class="col-md-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{ path('app_cart_removequantite', {'id': monpanier.Produits.id}) }}" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </a>
              <span class="btn btn-sm disabled">{{ monpanier.quantite }}</span>
              <a href="{{ path('app_cart_add', {'id': monpanier.Produits.id}) }}" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </div>
            <span class="text-muted">{{ monpanier.total }}€</span>
          </div>
          <a href="{{ path('app_cart_remove', {'id': monpanier.Produits.id}) }}" class="btn btn-sm btn-danger mt-2">
            Supprimer
          </a>
        </div>
      </div>
    </li>
    {% else %}
    <li class="list-group-item text-center">Aucun produit dans le panier.</li>
    {% endfor %}
  </ul>

  <h2 class="mt-4">Montant Total : {{ totalcomplet }}€</h2>
  <a href="{{ path('app_commande') }}" class="btn btn-primary mt-3">
    COMMANDEZ
  </a>

  <a href="{{ path('app_cart_clear') }}" class="btn btn-secondary mt-3">
    Vider le panier
  </a>
</div>



            
{% endblock %}