{% extends 'base.html.twig' %}

{% block title %}Ecom-puter{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/categoriesHomeCard.css') }}">
{% endblock %}

{% block javascripts %}{% endblock %}

{% block carousel %} {% endblock %}

{% block body %}
{{ dump() }}
{% for categorieHome in categoriesHome %}

    
    
   


   <a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
    <div class="card">
      <div class="wrapper">
        <img src="{{ categorieHome.image }}" class="cover-image" />
      </div>
      <h3>{{ categorieHome.titre }}</h3>
      <img src="{{ categorieHome.description }}" class="character" />
    </div>
  </a>

    
    
{% endfor %}



<div class="col-lg-4 col-md-6 col-12">
    <div class="row">
    <div class="card">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140" >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" />
        <image xlink:href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJnCV85lOP8uxFWXn2DHfdXhQW-EMgMGNE1w&usqp=CAU" width="100%" height="100%" />
        <text x="50%" y="50%" fill="#777" dy=".3em"></text>
      </svg>
      <h2>Les PC Vert Tactiles</h2>
        <p>Les PC Vert Tactiles vous offrent une expérience informatique innovante. Notre gamme de PC est conçue pour 
        répondre à tous vos besoins, que ce soit pour le travail ou les loisirs. Les PC Vert Tactiles sont équipés d'un 
        écran tactile intuitif qui facilite la navigation et l'interaction avec votre contenu. Que vous souhaitiez naviguer 
        sur Internet, créer des présentations professionnelles ou jouer à vos jeux préférés, nos PC vous offrent des performances 
        exceptionnelles et une facilité d'utilisation incomparable.</p>
        {# <p>Grâce à notre technologie de pointe, les PC Vert Tactiles vous permettent de travailler de manière plus efficace 
        et de profiter d'une expérience multimédia immersive. Les performances rapides et fluides de nos PC vous permettent 
        d'exécuter plusieurs tâches simultanément sans aucun problème. De plus, nos PC sont respectueux de l'environnement, 
        ce qui vous permet de travailler tout en contribuant à la préservation de notre planète.</p>
        <p>Que vous soyez un professionnel à la recherche d'un outil de travail performant ou un amateur de nouvelles 
        technologies, les PC Vert Tactiles sont là pour vous. Découvrez dès maintenant notre collection de PC et choisissez 
        celui qui correspond le mieux à vos besoins et à votre style de vie. Optez pour les PC Vert Tactiles et découvrez une 
        nouvelle façon de travailler et de vous divertir.</p> #}
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="card">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" />
        <image xlink:href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGAv8G5TSKP5sUvNymlhjCJWDLD9Oa_qzUYA&usqp=CAU" width="100%" height="100%" />
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      
            <h2>Les PC Vert Léger</h2>
            <p>Les PC Vert Léger sont conçus pour ceux qui recherchent une mobilité optimale sans sacrifier les performances. 
            Avec leur design compact et léger, nos PC vous accompagnent partout où vous allez. Que vous soyez en déplacement 
            professionnel ou en voyage d'agrément, nos PC Vert Léger vous offrent la liberté de travailler et de vous divertir 
            où que vous soyez.</p>
            <p>Grâce à leur poids réduit, nos PC Vert Léger sont faciles à transporter et ne vous encombrent pas. Vous pouvez les 
            glisser dans votre sac à dos ou votre sac de voyage sans aucun problème. Malgré leur légèreté, nos PC offrent des performances 
            exceptionnelles. Vous pouvez exécuter vos tâches quotidiennes, naviguer sur Internet et profiter de vos applications 
            préférées sans aucune interruption.</p>
            {# <p>Que vous soyez un étudiant, un professionnel en déplacement ou un amateur de voyages, les PC Vert Léger sont l'outil 
            idéal pour rester productif et connecté. Leur autonomie prolongée vous permet de travailler pendant de longues heures sans 
            avoir à vous soucier de la batterie. De plus, nos PC sont dotés de fonctionnalités avancées telles que la connectivité Wi-Fi 
            et Bluetooth, vous permettant de rester connecté où que vous soyez.</p>
            <p>Optez pour les PC Vert Léger et découvrez une nouvelle façon de travailler en toute mobilité. Nos PC allient légèreté, 

            performances et praticité pour vous offrir une expérience informatique exceptionnelle. Faites votre choix parmi notre sélection 
            de PC Vert Léger et profitez de la liberté de travailler et de vous divertir où que vous soyez.</p> #}
                  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

  
    <div class="card">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" />
        <image xlink:href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4C77YLc5CtlFdux3GdK6Wt0A-WK1tEU6o6YkanBNCtE2OOqlVGipc2z6xyZOYyDxM1BE&usqp=CAU" width="100%" height="100%" />
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Les PC Vert Petits</h2>
              <p>Les PC Vert Petits sont spécialement conçus pour les utilisateurs à la recherche d'une solution informatique compacte et 
              pratique. Dotés d'un design minimaliste et d'une taille réduite, nos PC Vert Petits vous offrent une expérience informatique 
              efficace tout en occupant un espace minimal.</p>
              <p>Avec leur format compact, nos PC Vert Petits sont parfaits pour les petits espaces tels que les bureaux à domicile, 
              les chambres d'étudiant ou les studios. Ils s'intègrent facilement dans n'importe quel environnement sans compromettre 
              les performances. Vous pouvez exécuter vos tâches quotidiennes, naviguer sur Internet et même profiter de certains jeux et 
              logiciels sans aucun problème.</p>
              {# <p>Malgré leur petite taille, nos PC Vert Petits sont équipés des dernières technologies et offrent des fonctionnalités 
              avancées. Vous pouvez compter sur leur puissance de traitement, leur capacité de stockage généreuse et leur connectivité 
              sans fil rapide. De plus, nos PC sont dotés d'une grande variété de ports et de connecteurs pour vous permettre de connecter 
              vos périphériques et accessoires préférés.</p>
              <p>Que vous soyez un professionnel à la recherche d'un PC de bureau compact ou un utilisateur domestique ayant besoin 
              d'un ordinateur polyvalent, les PC Vert Petits répondront à vos besoins. Leur combinaison de performance, de compacité 
              et de fonctionnalités en fait un choix idéal pour tous ceux qui souhaitent optimiser leur espace de travail sans compromettre
              la qualité.</p>
              <p>Découvrez notre gamme de PC Vert Petits et profitez de la puissance et de la praticité d'un ordinateur compact. 
              Simplifiez votre expérience informatique tout en gagnant de la place avec les PC Vert Petits.</p> #}
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  
  </div>

</div>



    <!-- START THE FEATURETTES -->

   <hr class="featurette-divider">

<div class="row featurette">
  <div class="col-lg-4 col-md-6 col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="featurette-heading">Premier titre de la fonctionnalité. <span class="text-muted">Ça va vous épater.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="card">
      <div class="card-body">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"/>
        <image xlink:href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEybK31n4kVin7qUYDtf5nSocZFF2M06PKjA&usqp=CAU" width="100%" height="100%" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-lg-4 col-md-6 col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="featurette-heading">Oh ouais, c'est bon ça. <span class="text-muted">Voyez par vous-même.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="card">
      <div class="card-body">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"/>
        <image xlink:href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYqWaZ_06wIgcqPTFNBd77SJiRl6n_NuGoWg&usqp=CAU" width="100%" height="100%" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-lg-4 col-md-6 col-12">
    <div class="card">
      <div class="card-body">
        <h2 class="featurette-heading">Et enfin, celui-ci. <span class="text-muted">Échec et mat.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <div class="card">
      <div class="card-body">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee"/>
        <image xlink:href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV29cjhKy0kDLINSlE6uolwq-9xSWNR-X2GA&usqp=CAU" width="100%" height="100%" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">


</div>



{% endblock %}

